:root {
  --Primary: #2c3e50;
  --Secondary: #e74c3c;
  --State-Info: #2f80ed;
  --State-Success: #27ae60;
  --State-Warning: #e2b93b;
  --State-Error: #eb5757;

  --Lofi-Colors-Layer-5: #a6a5a5;
  --Lofi-Colors-Layer-4: #c2c2c2;
  --Lofi-Colors-Layer-3: #dbdbdb;
  --Lofi-Colors-Layer-2: #f7f4f4;
  --Lofi-Colors-Layer-1: #fff;

  --Third: #ecf0f1;
  --Ternary: #95a5a6;

  --Primary-Colors-Layer-1: #5480a3;
  --Primary-Colors-Layer-2: #416788;
  --Primary-Colors-Layer-3: #35526f;
  --Primary-Colors-Layer-4: #2c3e50;
  --Primary-Colors-Layer-5: #1d2834;

  --Primary-Layer-Layer-1: #eaeff4;
  --Primary-Layer-Layer-2: #cfdce8;
  --Primary-Layer-Layer-3: #a6bfd3;
  --Primary-Layer-Layer-4: #759cbb;
  --Primary-Layer-Layer-5: #5480a3;

  --Secondary-Colors-Layer-1: #e74c3c;
  --Secondary-Colors-Layer-2: #f38276;
  --Secondary-Colors-Layer-3: #f9b0a8;
  --Secondary-Colors-Layer-4: #fcd0cc;
  --Secondary-Colors-Layer-5: #fef3f2;

  --White-Colors-Layer-1: #f0f3f3;
  --White-Colors-Layer-2: #e3e7e7;
  --White-Colors-Layer-3: #ccd5d5;
  --White-Colors-Layer-4: #acb9ba;
  --White-Colors-Layer-5: #95a5a6;

  --Grad-Glass: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --Grad-Dark-Glass: linear-gradient(
    225deg,
    rgba(9, 44, 76, 0.4) 0%,
    rgba(9, 44, 76, 0.05) 100%
  );
  --Grad-Green: linear-gradient(
    225deg,
    rgba(87, 176, 120, 0.4) 0%,
    #c9e9d2 100%
  );
  --Grad-Bluegrid: linear-gradient(
    225deg,
    rgba(85, 112, 116, 0.4) 0%,
    #5480a3 100%
  );

  --Grad-PrimaryGrid: url("texture.jpg") 0px -11.254px / 100% 122.507% no-repeat,
    linear-gradient(225deg, #5480a3 0%, rgba(85, 112, 116, 0.4) 100%);

  --Grad-ThirdGrid: linear-gradient(
    225deg,
    #95a5a6 0%,
    rgba(149, 165, 166, 0.4) 100%
  );
  --Grad-PastelBlue: linear-gradient(
    225deg,
    #d1e9f6 0%,
    rgba(209, 233, 246, 0.4) 100%
  );
  --Grad-PastelPinky: linear-gradient(
    225deg,
    #f1d3ce 0%,
    rgba(241, 211, 206, 0.4) 100%
  );
  --Grad-PastelYellow: linear-gradient(
    225deg,
    #f6eacb 0%,
    rgba(246, 234, 203, 0.4) 100%
  );
  --Grad-Deksripsi: linear-gradient(
    180deg,
    #e3e7e7 0%,
    #e3e7e7 77.67%,
    #acb9ba 100%
  );
  --Grad-GradPrimary: linear-gradient(225deg, #416788 0%, #2c3e50 100%);

  --box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.32);
  --backdrop-filter: blur(2px);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1cca19;
}

.color-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
}

.color-box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.primary {
  background-color: var(--Primary);
}
.secondary {
  background-color: var(--Secondary);
}
.state-info {
  background-color: var(--State-Info);
}
.state-success {
  background-color: var(--State-Success);
}
.state-warning {
  background-color: var(--State-Warning);
}
.state-error {
  background-color: var(--State-Error);
}

.lofi-5 {
  background-color: var(--Lofi-Colors-Layer-5);
  color: #000;
}
.lofi-4 {
  background-color: var(--Lofi-Colors-Layer-4);
  color: #000;
}
.lofi-3 {
  background-color: var(--Lofi-Colors-Layer-3);
  color: #000;
}
.lofi-2 {
  background-color: var(--Lofi-Colors-Layer-2);
  color: #000;
}
.lofi-1 {
  background-color: var(--Lofi-Colors-Layer-1);
  color: #000;
}

.third {
  background-color: var(--Third);
  color: #000;
}
.ternary {
  background-color: var(--Ternary);
  color: #000;
}

.primary-layer-1 {
  background-color: var(--Primary-Layer-Layer-1);
}
.primary-layer-2 {
  background-color: var(--Primary-Layer-Layer-2);
}
.primary-layer-3 {
  background-color: var(--Primary-Layer-Layer-3);
}
.primary-layer-4 {
  background-color: var(--Primary-Layer-Layer-4);
}
.primary-layer-5 {
  background-color: var(--Primary-Layer-Layer-5);
}

.secondary-layer-1 {
  background-color: var(--Secondary-Colors-Layer-1);
}
.secondary-layer-2 {
  background-color: var(--Secondary-Colors-Layer-2);
}
.secondary-layer-3 {
  background-color: var(--Secondary-Colors-Layer-3);
}
.secondary-layer-4 {
  background-color: var(--Secondary-Colors-Layer-4);
}
.secondary-layer-5 {
  background-color: var(--Secondary-Colors-Layer-5);
}

.grad-glass {
  background: var(--Grad-Glass);
  color: #000;
}
.grad-dark-glass {
  background: var(--Grad-Dark-Glass);
}
.grad-green {
  background: var(--Grad-Green);
  color: #000;
}
.grad-bluegrid {
  background: var(--Grad-Bluegrid);
}
.grad-primarygrid {
  background: var(--Grad-PrimaryGrid);
  color: #000;
}
.grad-thirdgrid {
  background: var(--Grad-ThirdGrid);
  color: #000;
}
.grad-pastelblue {
  background: var(--Grad-PastelBlue);
}
.grad-pastelyellow {
  background: var(--Grad-PastelYellow);
  color: #000;
}
.grad-pastelpinky {
  background: var(--Grad-PastelPinky);
}
.grad-deksripsi {
  background: var(--Grad-Deksripsi);
  color: #000;
}
.grad-gradprimary {
  background: var(--Grad-GradPrimary);
  color: #000;
}
