<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrandU Logo</title>
  <link href="../output.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <section class="flex items-center mx-12 my-12">
    <!-- Logo Image -->
    <img
      src="./images/tshirt Logo.png"
      alt="BrandU Logo"
      class="w-48 h-48 mt-16 mx-6"
    />
    <!-- Brand Title -->
    <h1 class="text-[140px] font-playfair text-primary-dark">
      Brand<span class="text-red-500">U</span>
    </h1>
  </section>
</body>

</html>
