<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link href="../output.css" rel="stylesheet">
</head>

<body>
    <div
        class="flex w-[506px] h-[168px] p-[8px_24px] flex-col justify-between items-start rounded-[24px] border border-White-Colors-3 bg-grad-glass">

        <div class="flex px-3 justify-between items-center self-stretch">
            <object data="/src/assets/icon/titik-koma.svg" type="image/svg+xml" class="w-6 h-6"></object>
            <div class="flex justify-center items-center gap-3">
                <div class="flex items-center gap-2">
                    <object data="/src/assets/icon/star-gold.svg" type="image/svg+xml" class="w-6 h-6"></object>
                    <object data="/src/assets/icon/star-gold.svg" type="image/svg+xml" class="w-6 h-6"></object>
                    <object data="/src/assets/icon/star-gold.svg" type="image/svg+xml" class="w-6 h-6"></object>
                    <object data="/src/assets/icon/star.svg" type="image/svg+xml" class="w-6 h-6"></object>
                    <object data="/src/assets/icon/star.svg" type="image/svg+xml" class="w-6 h-6"></object>
                </div>
                <span class="text-black text-center font-quicksand text-body-medium">2 hari yang lalu</span>
            </div>
        </div>
        <div class="flex p-2 items-start flex-1 self-stretch">
            <p class="flex-1 text-black font-quicksand text-body-medium">Deksripsi ulasan Deksripsi ulasan Deksripsi
                ulasan Deksripsi ulasanDeksripsi ulasan Deksripsi ulasan Deksripsi ulasan Deksripsi ulasan Deksripsi
                ulasan </p>
        </div>
        <div class="flex items-center gap-2 self-stretch">
            <img src="/public/profile/profile-1.jpg" alt="user-profile"
                class="flex size-9 items-center rounded-full bg-Primary-Layer-2">
            <span class="text-black text-center font-quicksand text-label-small">Nama Pembuat Ulasan</span>
        </div>
    </div>
</body>

</html>