<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulasan</title>
    <link href="../output.css" rel="stylesheet">
</head>

<body class="bg-white-layer-2 font-sans">
    <div class="flex w-[506px] py-2 justify-between items-center bg-primary-layer-3">
        <section class="flex w-[216px] h-[52px] flex-col justify-between items-center flex-shrink-0">
            <span class="text-black font-quick font-normal text-[16px] leading-[24px]">Ulasan Pilihan</span>
            <span class="text-black font-quick font-medium text-[12px] leading-[20px]">Menampilkan 10 dari 237
                ulasan</span>
        </section>

        <div class="flex items-center gap-[22px]">
            <span class="text-black font-quick font-bold text-[16px] leading-[20px] tracking-[0.1px]">Urutkan</span>
            <div
                class="flex w-[198px] px-[16px] py-[8px] justify-between items-center rounded-[8px] bg-lofi-color-layer-3">
                <span class="text-black font-quick font-bold text-[16px] leading-[20px] tracking-[0.1px]">Terbaru</span>
                <div class="w-[20px] h-[20px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                            d="M4.51581 7.548C4.95181 7.102 5.55881 7.067 6.09181 7.548L9.99981 11.295L13.9078 7.548C14.4408 7.067 15.0488 7.102 15.4818 7.548C15.9178 7.993 15.8898 8.745 15.4818 9.163C15.0758 9.581 10.7868 13.665 10.7868 13.665C10.6847 13.7709 10.5623 13.855 10.4269 13.9125C10.2915 13.97 10.1459 13.9997 9.99881 13.9997C9.85171 13.9997 9.70613 13.97 9.57074 13.9125C9.43535 13.855 9.31294 13.7709 9.21081 13.665C9.21081 13.665 4.92381 9.581 4.51581 9.163C4.10781 8.745 4.07981 7.993 4.51581 7.548Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</body>

</html>